/*编辑模板编辑页面样式*/
.editorTemplate-box {
  display: flex;
  /deep/ .el-form {
    width: 100%;
    padding-left: 165px;
    /deep/ .el-form-item {
      width: 350px;
      /deep/ .el-form-item__content {
        width: 250px;
      }
      &:nth-child(4){
        /deep/ .el-form-item__content {
          width: 250px;
          display: flex;
        }
        .el-button {
          margin-left: 20px;
        }
      }
    }
    /deep/ .el-form-item__error {
      color: #F56C6C;
      font-size: 14px;
      line-height: 1;
      padding-top: 4px;
      position: absolute;
      top: 100%;
      left: 0;
    }
    /deep/ .el-input__inner {
      width: 250px;
    }
  }
}
