//盘查明细 物品详情
$scaInquires-inquiresDetails-goodsDetail-dq-background: rgba(241, 245, 248, 1);
$scaInquires-inquiresDetails-goodsDetail-back-color: rgba(51, 51, 51, 1);
$scaInquires-inquiresDetails-goodsDetail-i-color: #0f7fff;
$scaInquires-inquiresDetails-goodsDetail-backhover-color: #0f7fff;
$scaInquires-inquiresDetails-goodsDetail-dr-color: #fff;
$scaInquires-inquiresDetails-goodsDetail-tip-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-goodsDetail-block-color:#ccc;
$scaInquires-inquiresDetails-goodsDetail-label-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-goodsDetail-p-color: rgba(102,102,102,1);
$scaInquires-inquiresDetails-goodsDetail-border: 1px solid rgba(220, 223, 230, 1);
//盘查明细 物品列表
$scaInquires-inquiresDetails-goodsIndex-dq-background:rgb(240, 242, 245);
$scaInquires-inquiresDetails-goodsIndex-de-background: #fff;
$scaInquires-inquiresDetails-goodsIndex-dt-background: #fff;
$scaInquires-inquiresDetails-goodsIndex-th-background-color:#f5f7fa;
$scaInquires-inquiresDetails-goodsIndex-label-color: #909399;

//盘查明细 人员详情
$scaInquires-inquiresDetails-personDetail-back-background: #ffffff;
$scaInquires-inquiresDetails-personDetail-mdmiiback-color: #0f7fff;
$scaInquires-inquiresDetails-personDetail-i-color: #0f7fff;
$scaInquires-inquiresDetails-personDetail-hover-color: #0f7fff;
$scaInquires-inquiresDetails-personDetail-item-border-bottom:#ccc;
$scaInquires-inquiresDetails-personDetail-label-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personDetail-content-color:rgba(102,102,102,1);
$scaInquires-inquiresDetails-personDetail-img-border:rgba(220,223,230,1);
//盘查明细 人员列表
$scaInquires-inquiresDetails-personIndex-qw-background:rgb(240, 242, 245);
$scaInquires-inquiresDetails-personIndex-qe-background: #fff;
$scaInquires-inquiresDetails-personIndex-qr-background: #fff;
$scaInquires-inquiresDetails-personIndex-qy-background: #fff;
$scaInquires-inquiresDetails-personIndex-wq-color: #000;
$scaInquires-inquiresDetails-personIndex-label-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-ew-background: #fff;
$scaInquires-inquiresDetails-personIndex-ey-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-inner-color:rgba(47,144,255,1);
$scaInquires-inquiresDetails-personIndex-inner-border:rgba(220,223,230,1);
$scaInquires-inquiresDetails-personIndex-es-border:rgba(228,231,237,1);
$scaInquires-inquiresDetails-personIndex-eh-border:rgba(228,231,237,1);
$scaInquires-inquiresDetails-personIndex-ve-border:rgba(228,231,237,1);
$scaInquires-inquiresDetails-personIndex-vr-border:rgba(228,231,237,1);
$scaInquires-inquiresDetails-personIndex-vi-border:rgba(228,231,237,1);
$scaInquires-inquiresDetails-personIndex-viHover-background:rgba(240,247,255,1);
$scaInquires-inquiresDetails-personIndex-viHover-border:rgba(47,144,255,0.6);
$scaInquires-inquiresDetails-personIndex-viHoverButton-color:rgba(47,144,255,1);
$scaInquires-inquiresDetails-personIndex-co-color:rgba(255,46,99,1);
$scaInquires-inquiresDetails-personIndex-cp-background:rgba(47,144,255,1);
$scaInquires-inquiresDetails-personIndex-btv-background:rgba(47,144,255,1);
$scaInquires-inquiresDetails-personIndex-fn-color:rgba(102,102,102,1);
$scaInquires-inquiresDetails-personIndex-fb-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-fwn-color:rgba(102,102,102,1);
$scaInquires-inquiresDetails-personIndex-fwb-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-xbt-background:rgba(240,247,255,1);
$scaInquires-inquiresDetails-personIndex-xbt-border:rgba(47,144,255,0.6);
$scaInquires-inquiresDetails-personIndex-xe-border-bottom: rgba(235,238,245,1);
$scaInquires-inquiresDetails-personIndex-xq:rgba(235,238,245,1);
$scaInquires-inquiresDetails-personIndex-ebt-background:rgba(47,144,255,1);
$scaInquires-inquiresDetails-personIndex-top-background: #fff;
$scaInquires-inquiresDetails-personIndex-top-border: #eee;
$scaInquires-inquiresDetails-personIndex-nr-hover-color: #FF2E63;
$scaInquires-inquiresDetails-personIndex-rq-color: #B4BCCC;
$scaInquires-inquiresDetails-personIndex-rqHover-color: #FF2E63;
$scaInquires-inquiresDetails-personIndex-fgx-span:#E9E9E9;
$scaInquires-inquiresDetails-personIndex-uaw-background-color: #fff;
$scaInquires-inquiresDetails-personIndex-uay-background-color: #fff;
$scaInquires-inquiresDetails-personIndex-uao-border-right: #EBEEF5;
$scaInquires-inquiresDetails-personIndex-use-background: #fff;
$scaInquires-inquiresDetails-personIndex-udt-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-udg-color: #666;
$scaInquires-inquiresDetails-personIndex-udh-color: #333;
$scaInquires-inquiresDetails-personIndex-udf-color: #666;
$scaInquires-inquiresDetails-personIndex-udo-color: #666;
$scaInquires-inquiresDetails-personIndex-tabg-border:rgba(235,238,245,1);
$scaInquires-inquiresDetails-personIndex-tabgTh-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-tabgTh-background:rgba(245, 247, 250, 1);
$scaInquires-inquiresDetails-personIndex-tabgThCell-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-personIndex-tabgTdCell-color:rgba(102,102,102,1);
$scaInquires-inquiresDetails-personIndex-tabgXiangqing-color: #1A1A1A;

//盘查明细 车辆列表
$scaInquires-inquiresDetails-vehicleIndex-header-background-color:white;
$scaInquires-inquiresDetails-vehicleIndex-content-background-color: white;
$scaInquires-inquiresDetails-vehicleIndex-wrapper-border: #fbeef5;
$scaInquires-inquiresDetails-vehicleIndex-hasGutter-background-color: #f5f7fa;
$scaInquires-inquiresDetails-vehicleIndex-last-child-background-color: #fafafa;
$scaInquires-inquiresDetails-vehicleIndex-last-child-border: #fbeef5;
//盘查明细 车辆详情
$scaInquires-inquiresDetails-vehicleDetail-header-background-color:white;
$scaInquires-inquiresDetails-vehicleDetail-header-arrowLeft-color: #000000;
$scaInquires-inquiresDetails-vehicleDetail-header-arrowLeft-hover-color: #0f7fff;
$scaInquires-inquiresDetails-vehicleDetail-content-background-color: white;
$scaInquires-inquiresDetails-vehicleDetail-content-border-bottom: #ebebeb;
$scaInquires-inquiresDetails-vehicleDetail-content-title-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-vehicleDetail-form-label-color:rgba(51,51,51,1);
$scaInquires-inquiresDetails-vehicleDetail-form-content-color:rgba(102,102,102,1);
$scaInquires-inquiresDetails-vehicleDetail-last-child-last-child-border:rgba(220,223,230,1);


//盘查统计 物品
$scaInquires-statisticAnalysis-goods-dq-background: #f0f2f5;
$scaInquires-statisticAnalysis-goods-de-background: #fff;
$scaInquires-statisticAnalysis-goods-dr-label-color: #666666;
$scaInquires-statisticAnalysis-goods-dt-background: #fff;
$scaInquires-statisticAnalysis-goods-tabTh-color:#909399 ;
$scaInquires-statisticAnalysis-goods-tabTh-background-color:#F5F7FA ;

//盘查统计 总计
$scaInquires-statisticAnalysis-total-header-background-color: white;
$scaInquires-statisticAnalysis-total-content-background-color: white;
$scaInquires-statisticAnalysis-total-wrapper-border: #fbeef5;
$scaInquires-statisticAnalysis-total-hasGutter-background-color: #f5f7fa;
$scaInquires-statisticAnalysis-total-header-wrapper-background-color: #fafafa;
$scaInquires-statisticAnalysis-total-header-wrapper-border: #fbeef5;

//盘查统计 人员
$scaInquires-statisticAnalysis-person-header-background-color: white;
$scaInquires-statisticAnalysis-person-content-background-color: white;
$scaInquires-statisticAnalysis-person-header-wrapper-border: #fbeef5;
$scaInquires-statisticAnalysis-person-hasGutter-background-color: #f5f7fa;
$scaInquires-statisticAnalysis-person-header-wrapper-border-last: #fbeef5;
$scaInquires-statisticAnalysis-person-hasGutter-background-color-last: #fafafa;

//盘查统计 车辆
$scaInquires-statisticAnalysis-vehicle-dq-background: rgb(240, 242, 245);
$scaInquires-statisticAnalysis-vehicle-de-background: #fff;
$scaInquires-statisticAnalysis-vehicle-dr-label-color: #666666;
$scaInquires-statisticAnalysis-vehicle-dt-background: #fff;
$scaInquires-statisticAnalysis-vehicle-tabTh-color:#909399;
$scaInquires-statisticAnalysis-vehicle-tabTh-background-color:#F5F7FA ;
