/*基础页面 样式*/
.BaseHome {
  width: 100%;
  background: #EEEEEE;
  padding: 0rem;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  overflow-x: hidden;
  .baseContainer {
    background: #fff;
    height: 100%;
    .header {
      height: 50px;
      line-height: 50px;
      background: steelblue;
      color: #fff;
    }
    .menu-collapsed { //折叠状态
      background: #263238;
      .CollapseBtn span {
        margin-left: 40px;
        & > img {
          margin-top: 10px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .menu-expanded { //展开状态
      background: #263238;
      .CollapseBtn span {
        margin-left: 205px;
        & > img {
          margin-top: 10px;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .el-menu-vertical-demo {
      border: none;
    }
    //展开菜单的宽度
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 240px;
      min-height: auto;
    }
    .el-header{
      height: 50px!important;
    }
    /*下面设置内容区域（右中）最外层样式 子路由锚点区域*/
    .el-main {
      background: rgb(240, 242, 245);
      max-height:680px; //目的是只有内容区域达到滚动效果 其他边栏固定不动
      padding: 0 20px 10px 20px;
    }
  }
}

