.courseBaseAdd {
  background: rgb(240, 242, 245);
  position: fixed;
  width: 100%;
  height: 90%;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /*面包屑*/
  .breadcrumb-operation {
    background: #fff;
    height: 30px;
    padding-top: 10px;
    box-shadow: 0 0 10px 0 rgba(128, 145, 165, 0.2);
    margin-bottom: 0.8rem;
    border-radius: 4px;
    display: flex;
    justify-content: space-between; /*充满一行 左右分布*/
    .el-breadcrumb {
      padding-left: 20px;
    }
  }
  /*表单*/
  .content {
    background: #FFF;
    box-sizing: border-box;
    padding: 16px;
    border-radius: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(128, 145, 165, 0.2);
    overflow-y: auto;
    position: relative;
    .el-form {
      display: flex;
      flex-direction: column;
      .el-form-item {
        width: 500px;
        margin-left: 400px;
        /deep/ .el-form-item__content {
          width: 400px;
        }
        /deep/ .el-cascader .el-input .el-input__inner {
          text-overflow: ellipsis;
          width: 400px;
        }
        /deep/ .el-textarea__inner {
          max-height: 100px;
        }
      }
      /deep/ .el-form-item__error {
        color: #F56C6C;
        font-size: 14px;
        line-height: 1;
        padding-top: 4px;
        position: absolute;
        top: 100%;
        left: 0;
      }
    }
    .dialog-footer {
      margin-left: 580px;
      .el-button {
        margin-right: 30px;
      }
    }
  }

}
